# Public
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_API_URL=

# DB
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Resend
RESEND_API_KEY=
EMAIL_FROM=AI Notes <onboarding@resend.dev>


# Email
EMAIL_FROM=