# Public
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_API_URL=

# DB
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Resend
RESEND_API_KEY=
EMAIL_FROM=AI Notes <onboarding@resend.dev>


# Email
EMAIL_FROM=

# AI
GEMINI_API_KEY=
GROQ_API_KE=

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

STRIPE_PRO_PRICE_ID=price_...
STRIPE_TEAM_PRICE_ID=price_...